[Unit]
Description=MDM - Minimal Display Manager
After=systemd-user-sessions.service
After=plymouth-quit-wait.service
Conflicts=getty@tty1.service
After=getty@tty1.service

[Service]
Type=idle
ExecStart=/usr/local/bin/mdm
Restart=always
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=graphical.target
